<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Homemade Eats</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
</head>

<body class="bodyHE">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Homemade Eats", "Initialization", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle dropbtn" data-toggle="dropdown" href="@Url.Action("Welcome", "HomemadeEats")">
                        Menu
                        <span class="caret"></span>
                        </a>
                        <div class="dropdown-content dropdown-menu">
                            @Html.ActionLink("Weekly", "Initialization", "Account")
                            @Html.ActionLink("Groceries", "Initialization", "Account")
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle dropbtn" data-toggle="dropdown" href="@Url.Action("Initialization", "Account")">
                            Community
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-content dropdown-menu">
                            @Html.ActionLink("My Favs", "Initialization", "Account")
                            @Html.ActionLink("My Circle", "Initialization", "Account")
                            @Html.ActionLink("Events & Parties", "Initialization", "Account")
                            @Html.ActionLink("My Cookbook", "Initialization", "Account")
                        </div>
                    </li>

                    <li>@Html.ActionLink("My Page", "Initialization", "Account")</li>

                </ul>
                @Html.Partial("_LoginPartial");
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="container-fluid text-center">
            <hr />
            <p>&copy;Homemade Eats @DateTime.Now.Year</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>